* {
    margin: 0;
    padding: 0;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid:
  'footer footer footer footer footer footer'
  'menu right main main main main '
  'menu right header header header header';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



/* .main-box {
    display: grid; */
/* grid-auto-flow: row; */
/* grid-template-columns: auto 100px auto auto auto 50px; */
/* grid-template-rows: auto 100px auto auto auto auto; */
/* grid-template-columns: 200px 200px 200px;
    grid-auto-columns: 100px;
    grid-template-rows: 300px 300px ;
    grid-auto-rows: 100px;
    grid-auto-flow: row; */

/* width: 90%;
    height: 90vh;
    background-color: bisque;
    gap: 10px; */

/* div {

        /* height: 100px; */
/* background-color: gray;
        font-size: 20px;
        color: #fff;
    }  */

/* .box5 { */
/* background-color: red; */
/* grid-area: 2 / 2 / 4 /4; */
/* } */
/* }  */